img {
  max-width: 100%;
}

.navbar {
    padding-top:0px;
    padding-bottom:0px;
    color: white;
}

.navbar .navbar-brand {
    color: white;
    background-color: rgb(91, 192, 222);
    font-family: cochin;
    font-weight: bold;
    padding: 15px;
    padding-top:5px;
    padding-bottom:5px;
}

.navbar .navbar-brand:hover {
    background-color: rgb(41, 142, 172);
}

.nav li {
    padding-right: 20px;
    padding-left: 20px;
    
}

.nav a {
    color:grey;
}

body {
    background-color: rgb(225, 225, 225);
}

.box {
    margin-top: 50px;
    background-color: white;
    padding: 60px 40px 60px;
}

.box h2 {
    font-family: cochin;
    font-weight: bold;
    color: rgb(91, 192, 222);
}

.pic {
    width:40%;
    height:40%;
}

.vizpics {
    width:100%;
    height:100%;
}

.vizpics:hover {
    border-color: rgb(91, 192, 222);
    border-style: solid;
}